.employee {
  float: left;
  width: 100%;
  margin: 20px 0;
  font-size: 12px;
}
.userDetails {
  list-style-type: none;
  margin: 1em 0 0 1.5em;
  padding: 0;
  float: left;
  font-size: 1em;
  width: 60%;
}
.avatar {
  border-radius: 50%;
  float: left;
  width: 30%;
  max-width: 9em;
}
.name {
  font-weight: bold;
  font-size: 1.5em;
}
.nameLink {
  color: #555;
  text-decoration: none;
}
.nameLink:hover {
  color: #3f6396;
}
.email {
  text-transform: lowercase;
}
.city {
  text-transform: capitalize;
}

@media (min-width: 600px) {
  .employee {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  .employee {
    width: 50%;
    font-size: 12px;
    float: none;
    display: inline-block;
  }
}
@media (min-width: 1000px) {
  .employee {
    font-size: 14px;
  }
}
