.loading-employees {
  margin: 50px 0;
  font-weight: bold;
}
.letterIndex {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  margin: 30px 0 0 0;
  background: #eee;
  padding: 10px;
}

@media (min-width: 800px) {
  .letterIndex {
    float: none;
  }
}
